# Python
__pycache__/
*.py[cod]
*.pyo
backend/*.db
.env
venv/
.venv/
*.egg-info/

# Node
node_modules/
frontend/node_modules/
frontend/dist/
frontend/.env
frontend_mobile/node_modules/
frontend_mobile/dist/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Misc
README_ours.md
backend/package-lock.json
