# Supabase PostgreSQL — Session Pooler
DATABASE_URL=postgresql://postgres.iwnjypyohgaggavafbla:[DB_PASSWORD]@aws-1-eu-central-1.pooler.supabase.com:5432/postgres

# Supabase API keys
SUPABASE_URL=https://ahtrsmtjwqtrchbiokjp.supabase.co
SUPABASE_KEY=sb_secret_0d0X-PfQqrmHubO8Al6eTA_03kCF67c

# Groq (бесплатно: console.groq.com)
GROQ_API_KEY=gsk_...
